.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.box {
  flex-basis: 40px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

Body {
  background-color: #1589FF;
}